DO --url=postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza18wUjJOZy1peEFnNm41WjhnWlV1bGwiLCJhcGlfa2V5IjoiMDFLMDI5MFAwOFRORDg5MEM0QzVIQlBNREUiLCJ0ZW5hbnRfaWQiOiJmMzc1ZjUyZjU1N2M3ODhhOWJjYWRiNmY2ZWYzNjA5NTZiYjVjNTkxOWYyNzE2ZmQ5NjBkOTdiZWVkMzQ1NTllIiwiaW50ZXJuYWxfc2VjcmV0IjoiYjViMGViODMtZWMyZC00NjQ0LWE0ODMtY2M1NjE5OTkzNzU2In0.XXi66EpkgquUXVDEzXq4kutuQPM71dIUWEaDIYVYfK0 DECLARE r RECORD; BEGIN FOR r IN (SELECT tablename FROM pg_tables WHERE schemaname = 'public') LOOP EXECUTE 'TRUNCATE TABLE public.' || quote_ident(r.tablename) || ' RESTART IDENTITY CASCADE'; END LOOP; END --url=postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza18wUjJOZy1peEFnNm41WjhnWlV1bGwiLCJhcGlfa2V5IjoiMDFLMDI5MFAwOFRORDg5MEM0QzVIQlBNREUiLCJ0ZW5hbnRfaWQiOiJmMzc1ZjUyZjU1N2M3ODhhOWJjYWRiNmY2ZWYzNjA5NTZiYjVjNTkxOWYyNzE2ZmQ5NjBkOTdiZWVkMzQ1NTllIiwiaW50ZXJuYWxfc2VjcmV0IjoiYjViMGViODMtZWMyZC00NjQ0LWE0ODMtY2M1NjE5OTkzNzU2In0.XXi66EpkgquUXVDEzXq4kutuQPM71dIUWEaDIYVYfK0;
