@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom global overrides */
body {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b;            /* slate-800 */
  font-family: var(--font-sans);
}